*
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@media (max-width: 400px)
{
    #main_block
    {
        align-content: center;
        padding-top: 0em;
    }
}

@media (max-width: 600px)
{
    #main_block
    {
        align-content: center;
        padding-left: 0em;
        padding-top: 3em;
    }
    
    .login_form
    {
        align-self: center;
    }

    .container
    {
        padding-left: 0em;
        padding-right: 0em;
    }

    body 
    {
        margin: 0px 0px;    
    }

    #phone_images 
    {
        display: none;
    }

    .logotype
    {
        transform: scale(0.9);
        margin: 0em 0em;
        padding: 0em 0em;
    }

    .footer_navigation_bar ul li
    {
        margin: 0.3em;
    }
}

@media (max-width: 800px)
{
    footer .container
    {
        padding: 0 2em;
    }
    
    #phone_images 
    {
        width: 0;
        height: 0;
        display: none;
    }

    .footer_navigation_bar ul li
    {
        margin: 0.5em;
    }

    .login_form
    {
        margin: 0 auto;
    }

    #main_block > .container
    {
        padding: 0;
    }
}

@media (max-width: 1500px)
{
    footer .container
    {
        padding: 0 3em;
    }

    .footer_navigation_bar ul li
    {
        margin: 0.5em 1em;
    }

    #phone_images 
    {
        display: none;
    }

    .footer_navigation_bar
    {
        justify-content: center;
    }

    .footer_navigation_bar ul
    {
        justify-content: center;
    }
 
    .copyright 
    {
        text-align: center;
        position: relative;
        margin: auto auto;
    }
}

html
{
    box-sizing: border-box;
    font-size: 10px;
}

a
{
    text-decoration: none;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fafafa;
}

#main_block
{
    justify-content: space-between;
    flex-direction: column;
    display: flex;

    height: 80em;
    width: 100%;
}

.container
{
    width: 100%;
    max-width: 95em;
    margin: 3em auto 1em;
}

#main_block > .container
{
    display: flex;
    padding: 0 0rem;
}

#phone_images
{
    background-image: url("../images/phone.png");
    background-size: cover;
    align-self: center;
    margin-right: 0em;
    display: flex;
    
    max-width: 30vw;
    height: 80vh;
    width: 30vw; 
    left: 0px;
    top: 0px;

    flex: 1;
}

#logotype
{
    background-image: url("../images/instagram_logo.png");
    background-size: cover;

    margin: 0em 6em 0em 6em;
    width: 20em;
    height: 10em;
}

#lg
{
    width: 100%;
    height: 100%;
}

.login_form
{
    padding: 3em 5em 0em 0em;
    position: relative;
    margin-top: 0rem;
    max-width: 40em;
    width: 100%;

    text-align: center;
}



.border
{
    padding: 1em;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 0.4rem;  
}

input.text_input,
input.password_input
{
    background-color: #FAFAFA;
    margin-bottom: 0.4em;
    padding: 0.8rem;
    outline: none;
    width: 80%;
    height: 50%;
    
    border: 1px solid #DBDBDB;
    border-radius: 0.2em;
}

.footer_navigation_bar ul
{
    list-style: none;
    flex-wrap: wrap;
    display: flex;
}

.footer_navigation_bar ul li
{
    margin-right: 1em;
}

.footer_navigation_bar ul li a
{
    color: #06365F;
}

.copyright
{
    white-space: nowrap;
    color: gray;
}

.login_button
{
    margin: 0.7em 2.5em 0em 2.5em;
    background-color: #3897f0;
    height: 3rem;
    width: 80%;

    color: #fff;    
    font-size: 1.3em;
    font-weight: bold;
    outline: none;
    cursor: pointer;

    border: none;
    border-radius: 0.4rem;
}

.download_buttons
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

img.google_play_download,
img.app_store_download
{
    height: 4em;
    width: 13em;
}

img.app_store_download
{
    margin-right: 1em;
    margin-left: 3.8em;
}

span.install_app
{
    display: inline-block;
    white-space: nowrap;
    margin: 1.5em 4em;
    font-size: 1.4em;
}

.separator
{
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    width: 70%;
    
    color: #999999;
    font-weight: 600;
    font-size: 1.5em;
    
    margin: 1em 2.5em 0em;
}

.separator::before,
.separator::after
{
    transform: translateY(-50%);
    position: absolute;
    background-color: #eee;
    height: 1px;
    top: 50%;
}

.separator::before
{
    left: 0;
}

.separator::after
{
    right: 0;
}

.facebook_link
{
    margin-bottom: 2.5rem;

    font-size: 1.4rem;
    font-weight: bold;
    color: #385185;
}   

i.facebook
{
    font-size: 2rem;   
    margin-right: 0.7rem;
}

a.password_reset
{
    font-size: 1.2rem;
    color: #003569;
}

.sign_up
{
    background-color: #fff;
    padding: 2rem 0;
    margin: 1rem 0;

    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    color: #262626;
}

a.sign_up_link
{
    font-weight: bold;
    color: #3897f0;
}

a.facebook_link
{
    display: inline-block;
    margin: 1em 6em;
}

footer
{
    white-space: nowrap;
    padding: 10em 12em 6em;
}

footer .container
{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin-top: 0;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
}



